name: Flutter Web

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "stable"

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web
        run: |
          git config --global init.defaultBranch main
          # flutter build web --release --base-href=/postos/
          flutter build web --wasm --release --base-href=/postos/

      - name: Deploy
        run: |
          cd build/web
          git init
          git config --global user.email paulodetarso.udi@gmail.com
          git config --global user.name geptudi
          git status
          git remote add origin https://${{secrets.token}}@github.com/geptudi/postos.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f